
/* General styling */
:root{
    --primary-color: #1f77c2;
    --secondary-color: #ffd42a;
}


@font-face {
    font-family: "script-mt-bold-regular";
    src: url("../images/ScriptMTBold.ttf") format("truetype");
}

body{
    background-color: #FFF;
    font-family: Calibri;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Calibri, sans-serif;
    color: #000;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px, 0;
}

h3{
    font-size: 35px;
    font-weight: 400;
    color: var(--primary-color);
}

p{
    margin: 10px, 0;
}

img{
    width: 100%;
}

/* Utilty styling */
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0, 40px;
}

.card{
    background-color: #FFF;
    border: 3px var(--primary-color) solid;
    padding: 15px;
    margin: 10px 0px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    transition: transform 0.1s ease-in;
}

.btn-outline{
    border: 2px var(--primary-color) solid;
}

.btn:hover{
    transform: scale(0.94);
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%
}

.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

/* Navbar Styling */
.navbar{
    background-color: var(--primary-color);
    color: #FFF;
    height: 70px;
}

.navbar .logo{
    width: 85px;
}

.navbar h1{
    font-weight: 500;
}

.navbar ul{
    margin-top: 6px;
    margin-left: 40px;
    display: flex;
}

.navbar a{
    color: #FFF;
    font-size: 18px;
    padding: 10px;
}

.navbar .slogan {
    margin-left: 580px;
    margin-right: 0;
    font-size: large;
}

.navbar a:hover{
    color: #FFF;
    border-bottom: 2px #FFF solid;
}

.navbar .flex {
    justify-content:left;
}

/* Footer styling */
.footer{
    margin-top: 80px;
    padding: 40px;
    background-color: var(--primary-color);
    border-top: 20px #aaccff solid;
}

.footer .grid h1{
    font-size: 35px;
    font-family:"script-mt-bold-regular";
    color: #FFF;
}

.footer .grid p{
    font-size: 18px;
    color: #FFF;
}

.footer .grid a{
    font-size: 18px;
    color: #fff;
}

.footer a:hover{
    color: #FFF;
    border-bottom: 2px #FFF solid;
}

